<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>

	</connectionStrings>
	<appSettings>
		<!-- Open Exchange Rates API 的 key -->
		<!-- <add key="KEY" value="4c78c06b0793427dadd8e9d6f8a48f13" /> -->
	</appSettings>
</configuration>